@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    background-color: #1F1F1F;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
